head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title DesafioCinco
    // CDN DE FLOWBITE
    link(rel='stylesheet' href='https://unpkg.com/flowbite@1.5.1/dist/flowbite.min.css')
    script(src='https://cdn.tailwindcss.com')